{% extends "base.html" %}
{% block body %}
    <body>
        {% include "banner.html" %}
        <div class="container">
            <br>
            <div class="row">
                <h4 class="text-center">welcome, {{username}}</h4>
            </div>
            <br>
            <div class="row text-center">
                <div class="col s12 m4">
                    <a href="newbatch.php"><button class="btn btn-primary">Create Batch</button></a>
                </div>
                <div class="col s12 m4">
                    <a href="history.php"><button class="btn btn-primary">View History</button></a>
                </div>
                <div class="col s12 m4">
                    <a href="logout.php"><button class="btn btn-primary">Log Out</button></a>
                </div>
            </div>
        </div>
   </body>
{% endblock %}